.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(223, 235, 217);
  z-index: 1000; /* Ensure it's above other elements */
  padding-bottom: 0.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Adjust padding as needed */
  height: 60px; /* Adjust height as needed */
}

.nav__logo {
  font-size: 2.5rem; /* Adjust size as needed */
  color: var(--first-color);
  font-family: var(--og-font);
  margin-right: auto;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: hsla(0, 0%, 6%, 0.2);
  backdrop-filter: blur(16px);
  width: 40%;
  height: 100%;
  padding: 6rem 3rem 0;
  transition: right 0.4s;
  display: flex;
  flex-direction: column;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Adjust gap between nav items */
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-decoration: none;
  transition: color 0.4s;
  font-size: 1rem;
  font: var(--og-font);
}

.nav__link:hover {
  color: var(--first-color);
}
#button:hover {
  color: white;
}
.nav__cta {
  background-color: var(--first-color);
  color: var(--title-color);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav__toggle,
.nav__close {
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__toggle {
  display: block; /* Always show the hamburger menu button */
  margin-left: auto;
  padding-top: 3vw;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}
.nav__item {
  padding: 0 1.5vw;
}

/* Responsive */
@media screen and (min-width: 768px) {
  .nav__menu {
    position: relative;
    right: 0;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    backdrop-filter: none;
    flex-direction: row;
    gap: 20px;
    margin-left: auto;
  }

  .nav__list {
    flex-direction: row;
    padding-top: 1vw;
  }

  .nav__link {
    font-size: 1rem;
    /* padding-right: 2vw; */
  }
  .nav__item {
    padding: 0 1.5vw;
  }

  .nav__cta {
    padding: 0.5rem 1rem;
  }

  .nav__toggle {
    display: none; /* Hide the hamburger menu button */
  }
  .nav__close {
    display: none; /* Hide the close button */
  }
}
